# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.cxx/
.kotlin/
/ios
/android

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Testing
/coverage

# Env files
.env
.env.local
.env.*.local

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/